{% extends 'BASE.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col s12">
			<ul class="red darken-2 tabs">
				<li class="tab col s3"><a class="white-text" href="#al">中英合作办学项目</a></li>
				<li class="tab col s3"><a class="white-text" href="#ap">中美合作办学项目</a></li>
				<li class="tab col s3"><a class="white-text" href="#ib">中英合作 IB 项目</a></li>
				<li class="tab col s3"><a class="white-text" href="#cp">升学指导</a></li>
			</ul>
		</div>
		<div id="al" class="col s12">
			<div class="section">
				<h4 class="red-text">剑桥国际高中课程（A-Level）介绍</h4>
				<p><b>“剑桥国际高中课程”（General Certificate of Education Advanced Level) </b>简称A-level课程，是英国的全民课程。英国学生在进入大学前普遍要通过A-Level课程的考试，然后凭借获得的成绩申请大学。A-Level课程于1950年在英国正式启用，经过60多年的发展已被国际教育体系誉为“金牌教育体系”。世界上有150多个国家8000多所学校和教育机构采纳剑桥国际高中课程，每年有500多万学生参加A-Level考试。中国学生完成剑桥国际高中课程的学习，通过剑桥大学国际考试委员会（CIE）的考试，可获得由其颁发的“剑桥国际高中课程”成绩证书。英国、美国、加拿大、澳大利亚、新西兰、新加坡等英语国家的主流大学都认可此课程成绩证书，许多非英语国家的大学也承认该证书。学生持该证书可以去申请英国、美国、加拿大、澳大利亚等英语国家的所有大学，且无需再读预科，无需再参加任何形式的入学考试。</p>
				<p>“剑桥国际高中课程”的考试由剑桥大学国际考试委员会（CIE）分别于每年5-6月和10-11月在全球组织统一考试，试题由CIE统一命题，阅卷评分亦由CIE统一组织，考试成绩在8月和次年的2月公布。</p>
				<p>“剑桥国际高中课程”的考试并非“一考定终身”。如果学生对某门课的考试成绩不满意，可以选择重考，以考试结果最好的一次作为最终成绩获得证书。一般来说，5-6月份为常规考试，10-11月份为补考。A-Level课程的考试成绩分为A*、A、B、C、D、E、U等级，A*为最优，E为通过，U为不及格。</p>
				<p>我校是剑桥大学国际考试委员会批准的该课程考试中心，本项目的学生在人大附中参加考试，每场考试结束后，我校将按照剑桥大学国际考试委员会严格的安全措施，在规定时间内将学生的答卷送达英国，由剑桥大学国际考试委员会组织专家统一评卷。</p>
				<p>“剑桥国际高中课程”具有很高的国际认可度， 学生可依据自身取得的相应学科成绩申请包括牛津大学、剑桥大学、帝国理工学院在内的英国所有大学；美国的哈佛大学、耶鲁大学、麻省理工学院等；加拿大的多伦多大学、UBC大学、皇后大学等；爱尔兰的国立大学等；澳大利亚的悉尼大学、墨尔本大学、国立大学等；新西兰的奥克兰大学等世界名牌大学。</p>
				<p>如需了解更详细的情况，可以登录剑桥大学国际考试委员会的<a href="http://www.cie.org.uk/languages/chinese/">网站</a>查询：</p>
			</div>
			<div class="section">
				<h4 class="red-text">人大附中“中英合作办学项目”课程设置</h4>
				<table class="highlight responsive-table">
					<tbody>
						<tr>
							<th></th>
							<th><p>Pre A–Level</p><p>（预备课程）</p><p>秋季学期高一</p></th>
							<th><p>AS Level/IB</p><p>秋季学期高二</p></th>
							<th><p>A2 Level/IB</p><p>秋季学期高三</p></th>
						</tr>
						<tr>
							<td><p>入学成绩要求</p></td>
							<td><p> 按中考志愿（提前批次）和中考成绩依次录取</p></td>
							<td><p> 通过人大附中相应年级的入学测试</p></td>
							<td></td>
						</tr>
						<tr>
							<td><p> 开设科目</p></td>
							<td>
								<p>中国高中相关学科；</p>
								<p>英语、数学、物理、化学、生物、商学、经济学、计算机、知识理论等若干预备课程 </p>
							</td>
							<td>
								<p> 中国高中相关学科；英语、A–level/IB 的数学、机械学、物理、化学、商学、经济学、生物、信息技术、世界文化历史、心理学、音乐、美术、法语、西班牙语等</p>
							</td>
							<td>
								<p> 中国高中相关学科；英语、A–level/IB 的数学、进阶数学/高等数学、物理、化学、商学、经济学、生物、信息技术、英美文化、心理学、音乐、美术、法语、西班牙语等</p>
							</td>
						</tr>
						<tr>
								<td>
								<p> 选用教材</p>
								</td>
								<td >
								<p> 中国相关高中教材、</p>
								<p> 与 CIE 等考试科目相关的原版英文教材</p>
								</td>
								<td >
								<p> 部分中国相关教材</p>
								<p> 与 IB 课程和 CIE 考试科目相关的原版英文教材</p>
								</td>
								<td >
								<p> 部分中国相关教材</p>
								<p> 与 IB 课程和 CIE 考试科目相关的原版英文教材</p>
								</td>
						</tr>
					</tbody>
				</table>
				<i>* 利用寒、暑假和周末开展社会实践活动</i>
			</div>
		</div>
		<div id="ap" class="col s12">
			<div class="section">
				<h4 class="red-text">美国大学先修课程（AP）介绍</h4>
				<p>美国大学先修课程全称为Advanced Placement Program (AP)，是美国大学理事会（The College Board）开发，在高中阶段开设的具有大学水平的课程。 AP课程是高中课程的深化，也是大学评估高中学生进入大学后学习潜能的重要参考依据。通过AP课程的学习和考试，学生更容易被大学尤其是名校录取，并且在大学能获得折抵学分、免修课程、跳级和获得奖学金等机会。</p>
				<p>AP课程及考试的国际认可度：AP考试每年在80多个国家举行，60多个国家超过3,600所大学认可AP考试成绩为其入学标准或参考标准，包括哈佛、耶鲁、牛津、剑桥等世界名牌大学。美国、加拿大的大学已经普遍把学生的AP课程学习及考试成绩看作衡量学生学习能力及应付高难度大学课程能力的重要依据，因此，AP考试成绩已经成为众多大学录取学生的重要参考指标。同时，英国、澳大利亚等国也将AP考试成绩作为大学的录取参考标准。</p>
				<p>如需了解更详细的情况，可以登录美国大学理事会的<a href="http://www.collegeboard.com/student/testing/ap/about.html">网站</a>查询</p>
			</div>
			<div class="section">
				<h4 class="red-text">人大附中“中美合作办学项目”课程设置</h4>
				<p>从课程类别上，人大附中“中美合作办学项目”课程可分中国高中课程、美国AP课程、英语语言和文化类课程、升学指导课程及课外实践活动四大类。这些课程相辅相成，一方面注重课程内容的全面性和有效性，实现知识与技能、过程与方法、情感态度与价值观的有机整合；另一方面满足了学生的个性发展需求，有的放矢地提高学生的知识水平和能力，促进其人格完善和自我价值实现。</p>
				<p>1. 中国高中课程是按照普通高中会考要求设计，学生参加会考，成绩合格且修业期满，由人大附中颁发高中毕业证书。</p>
				<p>2. 美国AP课程及引进的相关课程主要有英语语言和写作、微积分AB、微积分BC、物理I、物理II、物理CM、物理CEM、化学、生物、统计学、心理学、环境科学、经济学等课程，由中、外AP专业学科教师全英文授课。目前，人大附中共开设了13门AP课程供学生选择，每个学生可以根据自己的实际情况，在高二和高三学习5-7门AP课程。</p>
				<p>3. 英语语言和文化类课程针对学生海外留学需要而专门设计的英语语言课程和世界文化课程，全面提升学生的英语听说读写能力，文化认知水平及批判性思维能力，为海外留学打下坚实的语言及文化基础。</p>
				<p>4. 升学指导课程及社会实践活动包括认知AP课程和美国大学课程设置、认知标准化考试、大学申请指导（包括大学选校要素、申请大学三年规划、申请文书写作和申请流程指导等）、健康心理指导（包括时间管理和压力管理等）、其他技能培养指导（包括领导力培养、演讲能力培养等）。课外公益实践活动有野外科考活动、贫困地区义务建屋活动、环境/动物保护活动等，这些活动都是与全球知名的非盈利机构共同组织。此外，我们还将利用寒、暑假组织海外高中和大学寻访及学习活动。通过升学指导课及课外实践活动，旨在丰富学生校外经历，帮助学生提升学业以外的其他技能和综合素养，增加学生申请世界一流大学的竞争力。</p>
				<p>在时间安排上，人大附中中美合作办学项目课程设置符合学生的认知规律以及过程性评价的要求，循序渐进，在高一年级通过开设AP预备课程，为学生搭建学习AP课程的桥梁。高二、高三年级则集中精力学习AP课程。具体课程安排如下：</p>
				<img class="responsive-img" src="{{ url_for('static', filename='img/about/ap_course.jpg') }}">
			</div>
		</div>
		<div id="ib" class="col s12">
			<div class="section">
				<h4 class="red-text">国际高中文凭课程（IBDP）介绍</h4>
				<p>国际高中文凭课程全称为：International Baccalaureate Diploma Programme（IBDP），是国际文凭组织（IBO）拥有并管理的三大课程之一。根据IBO的最新数据，IBO目前已与140个国家的3000多个学校合作开办IB项目，就读于IB项目的学生数目达有近十万人。</p>
				<p>IB教育被称为成熟的国际化素质教育，被全球教育界认可为具有最高学术水准的教育项目，其教育理念是“终生教育（Education for Life）”，其教育理想是培养探究真知、知识渊博、富有爱心的年轻人，培养他们对多元文化的理解和尊重。</p>
				<p>通过综合、平衡的学科设置及富有挑战性的评估，IBO旨在帮助学校努力发展青年人的个人才智，教会他们把教室里学到的理论知识与外部实践相结合。除了严格的知识及高标准的学业要求外，IB教育特别强调培养具有国际意识及责任感的公民。</p>
				<p>目前IBDP课程受到全世界一流名校的高度认可和一致推荐，IBDP的毕业生申请世界名牌大学更具竞争力，全球顶尖大学，包括哈佛、耶鲁、剑桥、牛津等都把IBDP视为最具含金量的高中文凭而优先录取其毕业生。</p>
				<p>人大附中已经正式成为一所IB国际高中文凭课程的授权学校。我校从2012年9月份开始，在“中英合作办学项目”中开设部分国际高中文凭课程，并将其与中国高中课程有机融合。今年我们IB国际高中文凭课程的第二届毕业生即将毕业，全部学生均已被英、美名牌大学录取或预录取。</p>
			</div>
			<div class="section">
				<h4 class="red-text">人大附中“中英合作国际文凭项目”课程设置与评估方式</h4>
				<p>IBDP的课程包括三门核心课程和六个组别的学科选择：</p>
				<p>核心课程：包括知识理论（Theory of Knowledge）简称TOK，拓展论文（Extended Essay）简称EE，和创造、行动与服务（Creativity，Action and Service）CAS活动。</p>
				<p>六个组别的学科选择是：</p>
				<p>第一组：语言A1（母语）与世界文学</p>
				<p>第二组：语言B（母语以外的现代语）</p>
				<p>　第三组：个人与社会学：包括历史、地理、商业与管理、经济学等</p>
				<p>第四组：实验科学：包括物理、化学、生物等</p>
				<p>第五组：数学与计算机科学：包括数学高等级、数学标准等级、进阶数学等</p>
				<p>第六组：艺术与选修：艺术包视觉艺术、音乐、戏剧、电影、舞蹈等</p>
				<p>所有IBDP项目的学生必须从前五组科目中选择其一，第六组为艺术与选修，学生可以选择一门艺术类学科学习，或选学第三种现代语，或从第三组、第四组中再选一门课程，或选择进阶数学。在所选科目中，应至少选择三门高等级课程。</p>
				<p>IBDP通过内部评估和外部评估对学生进行评价。内部评估由学科老师按照IBO制定的评价标准完成。学科教师按照评价标准全面评价学生表现，并给出学科成绩（包括预估成绩）。为了保持评估的一致性，部分学生作业样本被随机抽出并寄给IB指定的评审官进行评审，最后对所有学生成绩进行调整。外部评估为全球统考，一般在每年的五月份由IBO统一安排，学生在各自学校参加考试，IBO将根据学生的表现给出最终成绩。</p>
				<p>IBDP的学科课程成绩以1至7分计分，六门学科满分共42分；在“知识理论”和“扩展论文”两个部分成绩优异的学生可获得最多3分的奖励分。因此IBDP课程的最高分数为45分，及格分数为24分。满足上述学科分布、核心课程要求并取得24分及以上的学生，将会获得IBO颁发的IBDP证书，否则只能获得单科证书。</p>
			</div>
		</div>
		<div id="cp" class="col s12">
			<div class="section">
				<h4 class="red-text">中外合作办学项目升学指导简介</h4>
				<p>每一个进入到人大附中中外合作办学项目学习的学生都会有一个“常青藤梦”，帮助学生“圆梦”是升学办公室重要的使命。</p>
				<br/>
				<h5 class="grey-text">一.加强与海外名校的联系和交流</h5>
				<p>大学申请过程是一个海外大学和中国学生相互认知和了解的过程，也是一个相互匹配的过程。以往学生们只关注“投其所好”，按照海外大学的录取要求准备申请文件。为了改变这样“千篇一律”的申请材料和因此而导致的过度依赖TOEFL、SAT等标准化考试成绩的困局，我们进行了“走出去”“请进来”“研究你们”“展现我们”的新尝试。</p>
				<p>我们每年都会接待许多海外名校招生官的访问，其中包括耶鲁，布朗，宾大，港大，剑桥，英属哥伦比亚等世界名校。海外大学招生官不仅来给学生做场报告，我们还会组织学生提前深度挖掘每一所来访大学的历史与课程优势、校园文化和校友贡献，准备好一些高质量的问题来与名校招生官进行现场互动，用我们的议题和深度对话“打动”名校招生官，全方位向来访的招生官或大学代表展示我们的课程设置、学生成就，以及我们的精神风貌。我们的学生在海外名校招生官来访时展现出来的思维深度和广度、语言运用的娴熟和技巧、外事活动的大气有度给许多招生官留下了深刻印象。</p>
				<br/>
				<h5 class="grey-text">二.向个性化延伸的升学指导课</h5>
				<p>升学指导办公室很早就引入国际高中“课程学习、标准化考试、课外活动、大学申请四位一体的三年综合规划”升学指导理念，结合中国学生的特点和海外大学录取要求，研发了一套完整的升学指导课程。</p>
				<p>在过去的一年里，除了进一步将其量化、完善之外，我们更深入更有针对性地开展个性化指导。</p>
				<p>以每周一讲的形式，以班为单位普及大学申请相关知识。内容涵盖三年规划、高中生心理、标准化考试介绍、课外活动选择、大学与专业介绍、文书写作、申请流程等主题，帮助学生了解海外大学教育特点、录取规则及申请要素。</p>
				<p>同时更侧重帮助孩子们挖掘自身潜力，认知自我个性、才能和成就, 进而在申请阶段能够向大学充分展示自我良好个性、优秀才能和突出成就, 各有特色地完成大学申请--成为我们这一年指导课程中的重点。</p>
				<p>另外在帮助学生们实现名校梦想的同时，也帮助他们充分做好海外大学学习和生活的准备。</p>
				<br/>
				<h5 class="grey-text">三. 丰富多样的课外活动规划和海外课程实践</h5>
				<p>在海外名校大学申请过程中，学术成绩证明学生的硬实力，课外活动展示学生的软实力。经验显示，在申请过程中许多学生因未能有效规划课外活动、或参加活动后缺乏系统记录和反思而被梦想学校拒之门外。因此，升学指导办公室非常注重联手班主任老师，指导并帮助学生在整个高中阶段开展高质量、有意义的课外活动。例如，联系享誉全球的为贫困地区建屋的“仁人家园”机构，组织并带领学生利用暑假远赴广东贫困地区修建村路；</p>
				<p>组织对环境科学感兴趣的学生驻扎北京郊区东灵山进行科考；引进一系列海外大学暑期学术课程，为学生提早深入美国校园、学习大学层面的知识提供机会，其中比较有特色的暑期课程有杜克天才学院、哈佛辩论与演讲海外课堂、SIG天赋少年特训营、ATDP加州伯克利学术菁英培育计划、CTD西北大学天才培养中心和美国领袖峰会（Envision）。这些有价值的社会实践和海外学习机会，不仅开阔了学生视野，增值学生履历，为大学申请加分，更重要的是学生在活动开展的过程中完善了知识体系，提高了交流沟通能力，培养了良好的社会责任意识。</p>
				<br/>
				<h5 class="grey-text">四. 专业的团队，系统的工作，搭建一座通往常青藤的桥梁</h5>
				<p>升学指导顾问团队成员中有来自美国、新西兰的外籍顾问和毕业于美国宾夕法尼亚大学和哥伦比亚大学等世界名校的中方顾问。他们多年在海外的学习生活经历使得他们对海外文化理解深刻，对名校录取标准了如指掌。他们既深入了解中国学生的特点和需要，又能结合海外大学对学生的录取要求，帮助学生不断完善自我，做好学术和其他方面的准备。无论是和学生一对一谈话，家长报告会，还是和招生官交流，升学顾问团队的专业素养得到方方面面的认可和赞许。值得一提的是，2013年10月份在清华大学附属中学举办的“海外名校招生官和中国公立学校的东西方教育对话”论坛活动中，升学指导团队联手班主任老师所做的关于升学办公室“尊重学生特点，发展学生潜能“的报告，发出了公立学校国际课程中心升学指导办公室追求卓越、成就学生梦想的最强音，给与会的海内外教育同行留下了深刻印象，树立了人大附中升学指导办公室的专业和权威形象。</p>
				<img class="responsive-img" src="{{ url_for('static', filename='img/about/cp_yale.jpg') }}">
				<p>图1：耶鲁大学招生官来访，全场座无虚席</p>
				<img class="responsive-img" src="{{ url_for('static', filename='img/about/cp_ao.jpg') }}">
				<p>图2：常春藤大学招生官亲切回答学生的问题</p>
				<img class="responsive-img" src="{{ url_for('static', filename='img/about/cp_washu.jpg') }}">
				<p>图3：乔治华盛顿大学招生官来访</p>
				<img class="responsive-img" src="{{ url_for('static', filename='img/about/cp_jhu.jpg') }}">
				<p>图4：约翰霍普金斯等5所大学招生官与学生们进行“多方会谈”</p>
				
				<img class="responsive-img" src="{{ url_for('static', filename='img/about/cp_office1.jpg') }}">
				<img class="responsive-img" src="{{ url_for('static', filename='img/about/cp_office2.jpg') }}">
				<img class="responsive-img" src="{{ url_for('static', filename='img/about/cp_office3.jpg') }}">
				<img class="responsive-img" src="{{ url_for('static', filename='img/about/cp_office4.jpg') }}">
				<p>图：温馨舒适的升学指导办公室</p>
			</div>
		</div>
	</div>

	<script>
	$(document).ready(function(){
		$('.tabs').tabs();
	});
	</script>
</div>
{% endblock %}